version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mipt_bc_backend
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - ./.env
    environment:
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
    volumes:
      - ./backend:/app
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload
      "

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: mipt_bc_frontend
    ports:
      - "9973:9973"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped

  postgres:
    image: postgres:latest
    container_name: mipt_bc_postgres
    environment:
      POSTGRES_DB: mipt_db
      POSTGRES_USER: mipt_admin
      POSTGRES_PASSWORD: pop_muzik_lover
    ports:
      - "7654:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mipt_admin -d mipt_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
